<div class="jumbotron" class="container my-3">
    <h1 class="display-4">Hi There, Welcome to the To Do Application!</h1>
    <p class="lead">Your Busy Life Deserves This!</p>
    <hr class="my-4">
    <p>A todo list application is an essential tool for organizing tasks and managing time effectively. With its
        user-friendly interface and intuitive features, a todo list app enables users like Akshit to create, prioritize,
        and track their tasks effortlessly. Whether it's jotting down daily errands, setting reminders for important
        deadlines, or categorizing tasks by project or urgency, a todo list app provides the flexibility to adapt to
        various productivity needs. Additionally, many modern todo list applications offer synchronization across
        multiple devices, allowing seamless access to tasks from anywhere, anytime. To enhance productivity further,
        users can explore features such as recurring tasks, subtasks, and task delegation. With its ability to
        streamline workflow and reduce mental clutter, integrating a todo list application into daily routines can
        significantly boost efficiency and time management skills.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a>
    </p>
</div>